/* COMIENZO DE ESTILOS DE ERROR */

.idMarcaAguaError {
    display: none;
}

.divError {
    display: flex;
    justify-content: space-between;
}

.divSubtitulo {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 3rem;

    h1 {
        padding: 2rem;
        font-weight: bold;
        font-size: 50px;
    }

    h2{
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    a {
        justify-self: center;
        width: 60%;
    }
}

.btnError{
    color: #000000;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    &--seleccionado{
        color: white;
        background-color: black;
        font-weight: bold;
    }
}

@media only screen and (min-width: 768px) 
{
    .idMarcaAguaError{
        display: flex;
        width: 100%;
        z-index: -5;
        position: absolute;
        justify-content: center;
        img{
            width: 60%;
            opacity: 5%;
            }
        }
}


@media only screen and (min-width: 992px) 
{
    .idMarcaAguaError{
        display: flex;
        width: 100%;
        z-index: -5;
        position: absolute;
        justify-content: center;
        img{
            width: 60%;
            opacity: 5%;
            }
        }
}

