@import "./variables.scss";

/* COMIENZO DE ESTILOS DE PRODUCTOS */

.divSubtitulo {
    font-weight:lighter;
    padding-left: 2rem;
}

.productos{
    &-sm{
        display: block;
    }
    &-md{
        display: none;
    }
}


/* Responsive */

@media only screen and (min-width: 768px) 
{

    .productos{
        &-sm{
            display: none;
        }
        &-md{
            display: block;
        }
    }

    /* Bucle para Fotos */

    @for $i from 1 through 8 {
        .foto#{$i} { 
            grid-area: foto#{$i}; 
            display: grid;
        }
    }

    /* Cartel Hover */
    .divFotoCartel {
        display: none;
    }

    .contenedorFotos{
        display: grid;
        grid-template-areas:
        "foto1 foto4 foto6"
        "foto1 foto4 foto6"
        "foto1 foto4 foto6"
        "foto1 foto4 foto6"
        "foto2 foto4 foto6"
        "foto2 foto4 foto7"
        "foto2 foto4 foto7"
        "foto2 foto5 foto7"
        "foto2 foto5 foto7"
        "foto3 foto5 foto8"
        "foto3 foto5 foto8"
        "foto3 foto5 foto8"
        "foto3 foto5 foto8";
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        margin: 1rem 1rem 1rem 1rem;
        img{
            grid-column-start: 1;
            grid-row-start: 1;
            align-items: stretch;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .divFotoCartel {
        display: flex;
        grid-column-start: 1;
        grid-row-start: 1;
        z-index: 1;
        justify-content: center;
        span {
            display: none;
        }
    }


    .divFotoCartel:hover span{
        display: block;
        background-color: rgba(255, 255, 255, 0.4);
        color: white;
        font-size: 18px;
        font-weight: bolder;
        padding: 2rem 5rem;
        align-self: center;
        position: static;
    }

}
/* FIN DE ESTILOS DE PRODUCTOS */


/* _______________________________________ */